@model DelhiHomeService.Models.Admin.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h3>Admin Login</h3>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {

            <p>
                @Html.DisplayNameFor(Model => Model.AdminUsername)
                @Html.EditorFor(Model => Model.AdminUsername)
                @Html.ValidationMessageFor(Model => Model.AdminUsername)
            </p>
            <p>
                @Html.DisplayNameFor(Model => Model.AdminPassword)
                @Html.PasswordFor(Model => Model.AdminPassword)
                @Html.ValidationMessageFor(Model => Model.AdminPassword)
            </p>
            <p>
                <input type="submit" value="Login" />
            </p>
            @Html.ValidationSummary(true)
            @Html.ValidationMessageFor(Model => Model.ErrorMessage)
        }
    </div>
</body>
</html>
